
// H O M E  C O N T E N T
// ====================================================
.home {
  background-position: center -#{emify(400, $text__font-size--max)};

  @media screen and (max-width: #{$mq--medium}px) {
    background-position: center -#{emify(240, $text__font-size--max)};
  }

  @media screen and (max-width: #{$mq--small}px) {
    background-position: center -#{emify(160, $text__font-size--max)};
  }
}

.hero {
  @media screen and (max-width: #{$mq--small}px) {
    font-size: 0.625em;
    margin-bottom: 4rem;

    .helper--vertical-align {
      top: auto;
      transform: translateY(0);
    }
  }

  @media screen and (min-width: #{$mq--small + 1}px) {
    /**
    * TODO: Need to work out the maths here so the spacing scales responsively
    */
    // margin-bottom: emify(166, $text__font-size--max);
    // margin-top: emify(128, $text__font-size--max);
    height: 100vh;
    min-height: 30rem;
    // margin-top: -#{emify(192, $text__font-size--max)};
  }

  &__heading {
    @include text__font-size(104, $text__font-size--max, 104);
    margin: 0;
    text-align: left;
    
    &:after {
      display: none;
    }
  }

  &__subheading {
    @include text__font-size(36, $text__font-size--max, 56);
    // letter-spacing: -0.025em;
    padding-right: emify(90, 36);

    p {
      margin-bottom: 0;
    }

    @media screen and (max-width: #{$mq--small}px) {
      font-size: 2.25em;
    }
  }

  &__scroll-notice {
    bottom: -#{emify(64, 12.8)};
    @include text--small-text;
    font-weight: bold;
    line-height: 32px;
    margin-left: 50%;
    opacity: 0.75;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);

    &-icon {
      background: url(#{$assets-url}icns_sprite.png) -70px 0 no-repeat;
      display: inline-block;
      height: 32px;
      margin-left: -28px;
      margin-right: 4px;
      position: relative;
      transform: translateY(-2px);
      vertical-align: middle;
      width: 24px;
    }

    @media screen and (max-width: #{$width--main - 1}) {
      display: none;
    }
  }
}

.testimonials {
  padding: emify(136, 20) 0 emify(64, 20) 0;
}

.testimonial {
  margin-bottom: emify(80, 20);
  text-align: center;

  &__attribution {
    margin: emify(8, 20) 0;
  }

  &__avatar {
    border: 2px solid $color--white;
    border-radius: 50%;
    margin: 0 auto emify(16, 20) auto;
    width: emify(62, 20);
  }

  &__author {
    font-family: $text__font-family--sans-serif;
    @include text__font-size(16, 20, 24);
  }

  &__author-name {
    display: block;
  }
}

// O V E R R I D E S
.home .layout-header {
  @media screen and (min-width: #{$mq--small + 1}px) {
    position: absolute;
    width: 100%;
  }
}

.home .project-links {
  &__link {
    @media screen and (min-width: #{$mq--small + 1}px) {
      @include grid__cell(2,0);
    }

    &:hover {
      .project-links__image {
        opacity: 0;
      }
      .project-links__hover-image {
        opacity: 1;
      }
    }

    @media screen and (min-width: #{$mq--small}px) and (max-width: #{$mq--medium}px) {
      font-size: 0.8em;
    }
  }

  &__inner-wrap {
    background: transparentize($color--gray-dark, .5);
    display: inline-block;
    @include text__font-size(31.25, 20, 40);
    text-align: center;
  }

  &__image-wrap {
    display: inline-block;
    height: emify(160, 31.25);
    margin-bottom: emify(34, 31.25);
    position: relative;
    width: emify(402, 31.25);
  }

  &__image {
    opacity: 1;
    position: absolute;
  }

  &__hover-image {
    opacity: 0;
    position: absolute;
  }
}
// --- end Home content
