// W O R K  P R O J E C T  C O N T E N T
// ====================================================
.project-details {
  display: flex;

  @media screen and (max-width: #{$mq--small}px) {
    flex-direction: column;
  }

  &__metadata {
    margin-bottom: emify(48, 20);
    text-align: left;

    @media screen and (min-width: #{$mq--small + 1}px) {
      margin-bottom: 0;
      text-align: right;
    }
  }

  &__description {
    @include text--first-paragraph;

    @at-root #{&} p:last-of-type {
      margin: 0;
    }
  }

  &__client {
    @include clearfix;
    margin-bottom: emify(32, 20);

    &-logo {
      float: left;
      
      @media screen and (min-width: #{$mq--small + 1}px) {
        float: right;
      }
    }

    &-name {
      font-family: $text__font-family--serif;
      font-style: italic;
      font-weight: 400;
      margin: 0;
      text-transform: none;
    }
  }

  &__website {
    @include text--small-text;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 emify(32, 12.8) 0;
    text-transform: uppercase;
  }

  &__services {
    // color: $color--gray;
    @include text--small-text;
    list-style: none;
    margin-top: 0;
    opacity: 0.75;

    @at-root #{&}-heading {
      @include text--small-text;
      margin: 0;
      opacity: 0.75;
      text-transform: uppercase;
    }
  }
}

.work .project-links {
  &__link {
    @media screen and (min-width: #{$mq--small + 1}px) {
      @include grid__cell(2,0);
    }
  }

  &__content {
    bottom: 0;
    padding: 6.25% 9.5%;
    position: absolute;
  }

  &__project-name {
    @include text__font-size(39, $text__font-size--max);
    display: block;
    font-style: italic;
    margin-bottom: emify(24, 39);

    &:after {
      background: $color--white;
      content: "";
      display: block;
      height: 3px;
      margin-top: emify(8, 39);
      width: emify(80, 39);
    }
  }

  &__project-services {
    @include text__font-size($text__font-size, $text__font-size--max, 24);
    display: block;
    font-family: $text__font-family--sans-serif;
  }
}
// --- end Work Project content
