
// I M A G E S
// ====================================================
img {
  display: block;
  height: auto !important;
  margin: 0;
  max-width: 100%;
  width: auto;
}

figure {
  margin: 0;
}

.figure {
  margin: emify(87, 20) 0 emify(88, 20) 0;
  text-align: center;
  &--no-margin-top {
    margin-top: 0;
  }
  &__image {
    // display: inline-block;
    // vertical-align: text-bottom;
    margin: 0 auto;
  }
  &__caption {
    color: $color--gray;
    @include text--small-text;
    margin-top: emify(16, 12.8);
    @include layout__block;

    p {
      margin: 0;
    }
  }
}
